body {
  margin: 0;
  padding: 0;
  background:url('/assets/back.jpg')no-repeat;
  background-size: cover;
  color: white;
  font-family:"Press Start 2P", system-ui;
  overflow: hidden;
}

#game-container {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 20px auto;
  background: #111;
  overflow: hidden;
  border: 1px solid rgb(46, 45, 45);
}

.grid{
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;

}

h1 {
  color: #f25c05;
  font-size: 3em;
  font-weight: 400;
  text-align: center;
  margin: 2rem 0;
}

#scoreboard {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #222;
  margin: 0 auto;
  width: 90%;
  border-radius: 5px;
  margin-top: 20px;
}

.grid div {
  width: 30px;
  height: 30px;
  position: relative; /* Required for bullet positioning */
}

.game-controls{
  position: relative;
  margin: 20px auto;
  display: flex;
  width: 600px;
  flex-direction: row;
  gap: 40px;
}

.instructions li{
  display: flex;
  align-items: center;
  gap: 5px;
}

.entity {
  position: absolute;
  transition: transform 0.016s linear;
}

.player {
  width: 30px;
  height: 30px;
  background: url('assets/ship.svg') no-repeat;
  background-size: contain;
}

.enemy {
  width: 30px;
  height: 30px;
  background: url('assets/ufo.svg') no-repeat;
  background-size: contain;
}

.bullet {
  width: 30px;
  height: 30px;
  background: url('/assets/icons8-line-50.png') no-repeat;
  background-size: contain;
}
.boom {
  width: 30px;
  height: 30px;
  background: url('/assets/icons8-laser-64.png') no-repeat;
  background-size: contain;
}

#pause-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(165, 74, 22, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.menu-content {
  background: #333;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

button {
  display: block;
  width: 200px;
  padding: 8px;
  margin: 8px auto;
  background: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family:"Press Start 2P", system-ui;
}

button:hover {
  background: #f25c05;
}


.grid div {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  /* border: 1px solid #555; */

}
#notify {
  display: none; /* Hidden by default */
  background-color: #373737;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 50%;
  border-radius: 10px;
  border: 2px solid #ffffff;
  text-align: center;
  font-weight: bold;
  transition: opacity 0.5s ease-in-out;
}

#notify-msg {
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
}

/*#press-play{*/
/*  display: block;*/
/*}*/